.MMM-MyCalendar .symbol {
  padding-left: 0;
  padding-right: 10px;
  font-size: 80%;
}

.MMM-MyCalendar.symbol span {
  display: inline-block;
  -ms-transform: translate(0, 2px); /* IE 9 */
  -webkit-transform: translate(0, 2px); /* Safari */
  transform: translate(0, 2px);
}

.MMM-MyCalendar tr,
.MMM-MyCalendar td {
	line-height: normal;
}

.MMM-MyCalendar .title {
  padding-left: 0;
  padding-right: 0;
  font-size: 80%;
}

.MMM-MyCalendar .day {
  padding-left: 0;
  padding-right: 0;
}

.MMM-MyCalendar .time {
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
  vertical-align: top;
  font-size: 80%;
}

.MMM-MyCalendar .location {
  font-size: 70%;
}